 html,
 body {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     background-image: misc/background1.jpg;
     /*not working???*/
 }

 div {
     margin: 0 auto;
 }

 #location {
     border: 1px black solid;
     text-align: center;
     font-size: xx-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
     color: red;
 }

 #events {
     text-align: center;
     font-size: x-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
     font-style: italic;
 }

 #map {
     width: 95%;
     height: 80%;
 }